body {  
  background: linear-gradient(to top,#b99bf5, transparent), url(./assets/shopping-store.jpg);
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  /* background-position: center; */
  /* aspect-ratio: 16/9; */
  min-height: 100dvh;
  /* overflow-y: hidden;  */
}